$main-color: var(--main-color);
$secondary-color: var(--secondary-color);
$title-color: var(--title-color);
$black-color: var(--black-color);
$text-color: var(--text-color);
$border-color: var(--border-color);
$input-bg-color: var(--input-bg-color);
