.header-section {
  padding: 10px 0;
}
@media screen and (min-width: 1200px) {
  .header-section {
    padding-top: 70px;
  }
}
.header-section .container-logo {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.header-section .container-logo .search {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: inherit;
}

.search,
.burger-icon,
.social-group-icon {
  top: 36px !important;
  transform: translateY(-50%) !important;
}

.main-nav {
  margin: 30px auto;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .main-nav {
    display: none;
  }
}
.main-nav ul#menu-header {
  display: inline-block;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
  margin-right: 15px;
}
.main-nav ul#menu-header li.menu-item {
  position: relative;
  text-align: left;
  width: auto;
  font-weight: 600;
}
.main-nav ul#menu-header li.menu-item ul.sub-menu {
  position: absolute;
  z-index: 2;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.07);
  left: 0;
  top: 54px;
  opacity: 0;
  visibility: hidden;
  min-width: 250px;
  transition: all 200ms ease;
}
.main-nav ul#menu-header li.menu-item ul.sub-menu li.menu-item {
  display: block;
}
.main-nav ul#menu-header li.menu-item ul.sub-menu li.menu-item ul.sub-menu {
  top: 0;
  left: 100% !important;
}
.main-nav ul#menu-header li.menu-item:hover > a {
  color: var(--main-color);
}
.main-nav ul#menu-header li.menu-item:hover > ul.sub-menu {
  opacity: 1;
  visibility: visible;
}
.main-nav ul#menu-header li.menu-item a {
  color: var(--black-color);
  padding: 15px 13px;
  display: block;
}
.main-nav ul#menu-header > li.menu-item {
  display: inline-block;
}
.main-nav ul#menu-header > li.menu-item:has(.sub-menu):after {
  font-family: "FontAwesome";
  height: 100%;
  content: "\f107";
  display: block;
  color: var(--black-color);
  position: absolute;
  font-size: 14px;
  z-index: 5;
  margin-left: 5px;
  top: 50%;
  height: auto;
  right: 0;
  transform: translateY(-50%);
}

.sticky-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  z-index: 99;
  background-color: #fff;
  transform: translate(-50%, -100%);
  transition: all 300ms ease-in;
}
.sticky-nav .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sticky-nav .main-nav {
  margin: 10px auto;
}
.sticky-nav .main-nav #menu-header {
  box-shadow: unset !important;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 40px;
  line-height: 1.45;
  letter-spacing: 0px;
  color: var(--title-color);
}
.title a {
  font-size: 26px;
  color: #0a0002;
}

.title.ularge {
  font-size: 60px;
  margin-bottom: 30px;
  line-height: 1.2;
}
@media screen and (max-width: 1200px) {
  .title.ularge {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  .title.ularge {
    font-size: 40px;
  }
}

.logo {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .logo {
    transform: translateY(15px);
  }
}
.logo span {
  display: block;
}
.logo span::first-letter {
  color: var(--main-color);
}

.button.social-icon {
  background: none;
  box-shadow: none;
  width: 38px;
  font-size: 24px;
}
.button.social-icon:hover {
  transform: translateY(-2px);
}

.burger-icon {
  position: absolute;
  display: none;
  cursor: pointer;
}
.burger-icon svg.icon {
  fill: var(--black-color);
  transition: all 300ms ease;
}
@media screen and (max-width: 1200px) {
  .burger-icon {
    display: block;
  }
}
.burger-icon svg.close {
  display: none;
}

svg.icon.ularge {
  width: 31px;
  height: 32px;
  margin-top: -2px;
}

.social-group-icon {
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .social-group-icon {
    display: none;
  }
}

.facebook {
  color: #175beb !important;
}

.twitter {
  color: #1da1f2 !important;
}

.instagram {
  color: #ef00a2 !important;
}

.rss {
  color: #f26522 !important;
}

.button.circle {
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  font-size: 16px;
}

svg.icon {
  fill: #fff;
  width: 17px;
  height: 17px;
  vertical-align: middle;
}

.mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0;
  width: 300px;
  z-index: 100;
  background: #fff;
  text-align: left;
  padding: 20px;
  transition: all 300ms ease;
  overflow: auto;
  transform: translateX(-300px);
}
.mobile-nav ul#menu-header {
  padding: 0 15px;
}
.mobile-nav ul#menu-header li.menu-item {
  list-style: none;
  font-weight: 600;
  padding: 15px 0;
  position: relative;
  cursor: pointer;
}
.mobile-nav ul#menu-header li.menu-item:has(.sub-menu):after {
  font-family: "FontAwesome";
  padding: 0 15px;
  padding-top: inherit;
  height: 100%;
  content: "\f107";
  display: block;
  color: var(--black-color);
  position: absolute;
  font-size: 14px;
  z-index: 5;
  margin-left: 5px;
  top: 0;
  height: auto;
  right: 0;
}
.mobile-nav ul#menu-header li.menu-item ul.sub-menu {
  overflow-y: auto;
  padding-top: 10px;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
.mobile-nav ul#menu-header li.menu-item ul.sub-menu li.menu-item ul.sub-menu li.menu-item {
  padding: 15px;
}
.mobile-nav ul#menu-header li.menu-item ul.sub-menu li.menu-item a {
  color: var(--text-color);
  font-weight: 400;
}
.mobile-nav ul#menu-header li.menu-item a {
  color: var(--black-color);
  font-size: 15px;
}
.mobile-nav ul#menu-header li.menu-item:hover > ul.sub-menu {
  opacity: 1;
  visibility: visible;
  max-height: 50vh;
}

@media screen and (max-width: 1200px) {
  body.menu-open #wrapper {
    transform: translateX(300px) !important;
  }
  body.menu-open svg.open {
    display: none;
  }
  body.menu-open svg.close {
    display: block;
  }
  body.menu-open .mobile-nav {
    transform: translateX(0);
  }
  body.menu-open .menu-overlay {
    background: rgba(0, 0, 0, 0.25);
    visibility: visible;
  }
}
#wrapper {
  transition: all 300ms ease;
}

.menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition: all 300ms ease;
}
