@import "public/front/css/variables";
.header-section {
    padding: 10px 0;
    @media screen and (min-width: 1200px) {
        padding-top: 70px;
    }
    .container-logo {
        position: relative;
        text-align: center;
        margin-bottom: 30px;
        .search {
            position: absolute;
            top: 0;
            right: 0;
            padding-right: inherit;
        }
    }
}
.search,
.burger-icon,
.social-group-icon {
    top: 36px !important;
    transform: translateY(-50%) !important;
}
.main-nav {
    @media screen and (max-width: 1200px) {
        display: none;
    }
    margin: 30px auto;
    text-align: center;
    ul#menu-header {
        display: inline-block;
        padding: 0 15px;
        background: #fff;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.07);
        width: auto;
        li.menu-item {
            position: relative;
            list-style-type: none;
            text-align: left;
            width: auto;
            font-weight: 600;
            ul.sub-menu {
                position: absolute;
                z-index: 2;
                background: #fff;
                box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.07);
                left: 0;
                top: 54px;
                opacity: 0;
                visibility: hidden;
                min-width: 250px;
                li.menu-item {
                    display: block;
                    ul.sub-menu {
                        top: 0;
                        left: 100% !important;
                    }
                }
                -webkit-transition: all 200ms ease;
                -o-transition: all 200ms ease;
                transition: all 200ms ease;
            }
            &:hover {
                > a {
                    color: $main-color;
                }
                > ul.sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
            a {
                color: $black-color;
                padding: 15px 13px;
                display: block;
            }
        }
        > li.menu-item {
            display: inline-block;
            &:has(.sub-menu):after {
                font-family: "FontAwesome";
                height: 100%;
                content: "\f107";
                display: block;
                color: $black-color;
                position: absolute;
                font-size: 14px;
                z-index: 5;
                margin-left: 5px;
                top: 50%;
                height: auto;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
}
.title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
    line-height: 1.45;
    letter-spacing: 0px;
    color: $title-color;
}
.title.ularge {
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 1.2;
    @media screen and (max-width: 1200px) {
        font-size: 50px;
    }
    @media screen and (max-width: 767px) {
        font-size: 40px;
    }
}
.logo {
    width: fit-content;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        transform: translateY(15px);
    }
    span {
        display: block;
        &::first-letter {
            color: $main-color;
        }
    }
}
.button.social-icon {
    background: none;
    box-shadow: none;
    width: 38px;
    font-size: 24px;
    &:hover {
        transform: translateY(-2px);
    }
}
.burger-icon {
    position: absolute;
    display: none;
    cursor: pointer;
    svg.icon {
        fill: $black-color;
        transition: all 300ms ease;
    }
    @media screen and (max-width: 1200px) {
        display: block;
    }
    svg.close {
        display: none;
    }
}
svg.icon.ularge {
    width: 31px;
    height: 32px;
    margin-top: -2px;
}
.social-group-icon {
    position: absolute;
    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.facebook {
    color: #175beb !important;
}
.twitter {
    color: #1da1f2 !important;
}
.instagram {
    color: #ef00a2 !important;
}
.rss {
    color: #f26522 !important;
}
.button.circle {
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
}
svg.icon {
    fill: #fff;
    width: 17px;
    height: 17px;
    vertical-align: middle;
}
.mobile-nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    width: 300px;
    z-index: 100;
    background: #fff;
    text-align: left;
    padding: 20px;
    transition: all 300ms ease;
    overflow: auto;
    transform: translateX(-300px);
    ul#menu-header {
        padding: 0 15px;
        li.menu-item {
            list-style: none;
            font-weight: 600;
            padding: 15px 0;
            position: relative;
            cursor: pointer;
            &:has(.sub-menu):after {
                font-family: "FontAwesome";
                padding: 0 15px;
                padding-top: inherit;
                height: 100%;
                content: "\f107";
                display: block;
                color: $black-color;
                position: absolute;
                font-size: 14px;
                z-index: 5;
                margin-left: 5px;
                top: 0;
                height: auto;
                right: 0;
            }
            ul.sub-menu {
                overflow-y: auto;
                padding-top: 10px;
                transition: all 300ms ease;
                opacity: 0;
                visibility: hidden;
                max-height: 0;
                li.menu-item {
                    ul.sub-menu {
                        li.menu-item {
                            padding: 15px;
                        }
                    }
                    a {
                        color: $text-color;
                        font-weight: 400;
                    }
                }
            }
            a {
                color: $black-color;
                font-size: 15px;
            }

            &:hover {
                > ul.sub-menu {
                    opacity: 1;
                    visibility: visible;
                    max-height: 50vh;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    body.menu-open {
        #wrapper {
            transform: translateX(300px) !important;
        }
        svg.open {
            display: none;
        }
        svg.close {
            display: block;
        }
        .mobile-nav {
            transform: translateX(0);
        }
        .menu-overlay {
            background: rgba(0, 0, 0, 0.25);
            visibility: visible;
        }
    }
}
#wrapper {
    transition: all 300ms ease;
}
.menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: all 300ms ease;
}
